/* 
==========
Global Styles
==========
*/
:root {
  --background-primary: #fffff;
  --background-light: #303131;
  --orange-primary: #feb632;
  --heading-color: #cccccc;
  --textColor: black;
  --main-font: 'Poppins', sans-serif;
  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background: var(--background-primary);
}
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
main {
  max-width: 1170px;
  margin: 2rem auto;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.headshot {
  padding: 2rem;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.hero-heading {
  font-family: var(--main-font);
  color: var(--heading-color);
}
.icon-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.icon {
  font-size: 32px;
  color: var(--orange-primary);
}

.hero-text {
  text-align: center;
  color: var(--textColor);
  font-family: var(--main-font);
  font-size: 1.25rem;
  padding: 0 10px;
}
.highlight {
  color: var(--orange-primary);
  border-bottom: 2px solid var(--orange-primary);
}

/* 
==========
Project Section
==========
*/
.projects {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem auto;
  padding: 2rem;
}
@media screen and (max-width: 837px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
.project-card {
  /* flex: 2; */
  display: flex;
  flex-direction: column;
  border: 2px solid var(--orange-primary);
  border-radius: 8px;
  padding: 1rem;
  background: var(--background-light);
  width: 100%;
}
.project-img {
  object-fit: cover;
  width: 100%;
  border-radius: 8px;

  /* height: auto; */
}
.project-title {
  padding: 10px;
  font-family: var(--main-font);
  text-align: center;
  color: var(--heading-color);
  width: 100%;
  height: auto;
}
.btn-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: var(--main-font);
  font-weight: 500;
  background: var(--orange-primary);
  color: var(--background-light);
  padding: 16px 12px;
  border-radius: 8px;
  width: 100%;
  border: 2px solid var(--orange-primary);
  transition: var(--transition);
}
.btn:hover {
  background: var(--background-light);
  color: #feb632;
}
.email-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.email {
  font-family: var(--main-font);
  font-size: 1.25rem;
  color: var(--orange-primary);
  text-align: center;
}
.resume {
  text-align: center;
  max-width: 130px;
}
.tools-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 10px 20px;
}
.tools-card {
  padding: 10px;
}
.tools-card h2 {
  text-align: center;
}
.tools-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer {
  text-align: center;
}
