/* 
==========
Global Styles
==========
*/
:root {
  --section-darkest: #022b3a;
  --section-dark: #1f7a8c;
  --section-light: #bfdbf7;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
a {
  color: black;
  text-decoration: none;
}
/* .container {
  width: 1170px;
} */
/* 
==========
Nav Section
==========
*/
.navbar {
  position: fixed;
  z-index: 2;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  font-size: 1.5rem;
  box-shadow: 5px 5px 15px 5px #000000;
  background: var(--section-darkest);
}
.logo-container {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  color: #feb632;
}
/* hide nav links at 560px */

@media (max-width: 560px) {
  .nav-links {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
}
.nav-item {
  padding: 10px;
  color: var(--section-light);
}
/* 
==========
Mobile Nav Btn
==========
*/
.mobile-btn {
  margin: 1rem;
  display: none;
  color: #feb632;
}
@media (max-width: 560px) {
  .mobile-btn {
    display: block;
  }
}
.mobile-nav {
  background: #303131;
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  z-index: 100;
  border-right: 2px solid #feb632;
}
.mobile-hidden {
  display: none;
}
.mobile-show {
  display: block;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-item {
  padding: 10px;
  font-size: 1.5rem;
  color: white;
}
.section-heading-container {
  text-align: center;
}
.section-heading {
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem;
  border-bottom: 2px solid #feb632;
  margin: 2rem 0;
  color: white;
}
/* 
==========
Hero Section
==========
*/
.hero-section {
  background: var(--section-dark);
  padding: 10rem;
  width: 100%;
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
@media (max-width: 800px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}
.hero-text {
  font-size: 2rem;
  text-align: center;
  color: var(--section-darkest);
}
.hero-btn {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.5rem 3rem;
  background: var(--section-light);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.72);
}
.social-icon {
  color: var(--section-light);
  padding: 0.75rem;
}
.hero-img-container {
  width: 100%;
}
.hero-img {
  display: block;
  width: 100%;
}
/* 
==========
Tech Section
==========
*/
.tech-section {
  text-align: center;
  width: 100%;
  background: var(--section-darkest);
}
.tech-section-container {
}
/* .tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
} */
.tech-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
}

/* 
==========
Services Section
==========
*/
.services-section {
  background: var(--section-dark);
}
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2rem;
}
@media (max-width: 880px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}
.services-card {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  padding: 2rem;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
}
.card-blue {
  background: rgb(36, 226, 254);
}
.card-yellow {
  background: rgb(255, 211, 36);
}
.card-violet {
  background: rgba(248, 47, 160, 0.99);
}
.card-green {
  background: rgba(0, 188, 128, 0.99);
}
/* 
==========
Project Section
==========
*/
.projects-section {
  background: var(--section-darkest);
  padding: 1rem;
}
.projects-container {
}
.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
}
.project-card {
  border: 3px solid black;
  border-radius: 5%;
  padding: 2rem;
  background: grey;
}
.project-img {
  width: 100%;
}
.project-img:hover {
  opacity: 0.5;
}
.project-title {
  text-align: center;
}

/* 
==========
Experience Section
==========
*/
.experience-section {
  background: var(--section-dark);
}
.experience-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.experience-card {
  background: var(--section-dark);
  border: 3px solid --section-light;
  /* padding: 5rem 3rem; */
}
.experience-card-heading {
  color: white;
  margin: 0.5rem 0;
}
