/* 
==========
Global Styles
==========
*/
:root {
  --section-darkest: #022b3a;
  --section-dark: #1f7a8c;
  --section-light: #bfdbf7;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
a {
  color: black;
  text-decoration: none;
}
/* .container {
  width: 1170px;
} */
/* 
==========
Nav Section
==========
*/
.navbar {
  position: fixed;
  z-index: 2;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  font-size: 1.5rem;
  box-shadow: 5px 5px 15px 5px #000000;
  background: var(--section-darkest);
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 1rem;
  color: var(--section-light);
}
/* hide nav links at 560px */

@media (max-width: 560px) {
  .nav-links {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
}
.nav-item {
  font-weight: bolder;
  padding: 10px;
  color: var(--section-dark);
  transition: 0.5s;
}
.nav-item:hover {
  color: var(--section-light);
}
/* 
==========
Mobile Nav Btn
==========
*/
.mobile-btn {
  margin: 1rem;
  display: none;
  color: var(--section-light);
}
@media (max-width: 560px) {
  .mobile-btn {
    display: block;
  }
}
.mobile-nav {
  background: var(--section-darkest);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  z-index: 100;
  border-right: 2px solid var(--section-light);
}
.mobile-hidden {
  display: none;
}
.mobile-show {
  display: block;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-item {
  padding: 10px;
  font-size: 1.5rem;
  color: var(--section-dark);
}
.section-heading-container {
  text-align: center;
}

.section-heading {
  display: inline-block;
  font-size: 3rem;
  padding: 0.5rem;
  border-bottom: 2px solid #feb632;
  margin: 2rem 0;
  color: white;
}
/* 
==========
Hero Section
==========
*/
.hero-section {
  background: var(--section-dark);
  padding: 10rem;
  width: 100%;
}
.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
@media (max-width: 800px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}
.hero-text {
  font-size: 2rem;
  text-align: center;
  color: var(--section-darkest);
}
.hero-name {
  margin-bottom: 0.5rem;
}
.hero-title {
  margin-bottom: 0.5rem;
}
.hero-btn {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.5rem 3rem;
  background: var(--section-light);
  color: var(--section-darkest);
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.72);
  transition: 0.5s;
  border: none;
}
.hero-btn:hover {
  background: var(--section-darkest);
  color: var(--section-light);
}
.social-icon {
  color: var(--section-light);
  padding: 0.75rem;
}
.hero-img-container {
  width: 100%;
}
.hero-img {
  display: block;
  width: 100%;
}

/* 
==========
About me Section
==========
*/
.about-me-section {
  text-align: center;
  background: var(--section-darkest);
  padding-bottom: 2rem;
}
.about-me-container {
  color: #bfdbf7;
  font-size: 1.5rem;
  margin: 0 2rem;
}

/* 
==========
Tech Section
==========
*/
.tech-section {
  text-align: center;
  width: 100%;
  background: var(--section-darkest);
  padding-bottom: 1rem;
}
.tech-section-container {
}
/* .tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
} */
.tech-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
}

/* 
==========
Services Section
==========
*/
.services-section {
  background: var(--section-dark);
  padding-bottom: 1rem;
}
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2rem;
  padding: 0 1rem;

  /* padding-left: 2rem;
  padding-right: 2rem; */
}
@media (max-width: 880px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}
.services-card {
  min-height: 300px;
  font-size: 1.5rem;
  padding: 4rem;
  border: 3px solid black;
  border-radius: 5px;
  color: white;
}
.card-blue {
  background: #79afba;
}
.card-yellow {
  background: #4c95a3;
}
.card-violet {
  background: #79afba;
}
.card-green {
  background: #4c95a3;
}
.service-icon {
  margin-bottom: 0.75rem;
}
.services-card-heading {
  margin-bottom: 0.25rem;
}
/* 
==========
Project Section
==========
*/
.projects-section {
  background: var(--section-darkest);
  padding-bottom: 1rem;
}
.projects-container {
}
.project-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  width: 100%;
  padding: 0 1rem;
}
.project-card {
  border: 3px solid black;
  border-radius: 5%;
  transition: 0.5s;
}
.project-img {
  width: 100%;
}
.project-card:hover {
  opacity: 0.5;
}
.project-title {
  text-align: center;
}

/* 
==========
Experience Section
==========
*/
.experience-section {
  background: var(--section-dark);
}
.experience-section-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 0 1rem;
}

@media (max-width: 880px) {
  .experience-section-container {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.experience-card {
  background: var(--section-dark);
  border: 3px solid var(--section-light);
  transition: 0.5s;
}
.experience-card:hover {
  background: var(--section-light);
}
.experience-card-heading {
  color: white;
  margin: 0.5rem 0;
}
.experience-info-container {
  padding: 5rem;
}
